@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .black-shadow {
    @apply mb-1 rounded-lg shadow-solid outline -outline-offset-2 outline-black focus-visible:outline-2 active:outline-2;
  }
  .black-shadow:focus-visible:not(input, textarea),
  .black-shadow:active:not(input, textarea) {
    @apply shadow-solid-pressed;
  }
  .black-shadow:invalid:not(:placeholder-shown) {
    @apply shadow-red-500 outline-red-500;
  }

  .time {
    background: white;
    background: linear-gradient(to left, white 50%, #3b82f6 50%) left;
    background-size: 200%;
  }
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    scroll-behavior: smooth;
  }
}
